node_modules/
dist/
.vite/
.cache/
tmp/
.tmp/
*.apk
*.aab
*.log
*.keystore
android/.gradle/
android/build/
android/app/build/
coverage/
.DS_Store
.env

public/glbs/dtes_vancouver_canada.glb
public/glbs/hollywood_sign_los_angeles_ca_usa.glb
public/glbs/surfside_florida_usa_beachfront_properties.glb
